

html, body, .container {
  margin: 0;
  padding: 0;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  width: 20vw;
  height: 25vh;
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: center;
}


.profile-img {
  width: 100%;
}

.logo-img {
  height: 90%;
  padding: 8px;
}

.tech-logo {
  width: 100px;
}



.slideshow-block{
    position: relative;
    /*width: 200px;
    height: 150px;*/
    overflow: hidden;
    --background: #111 url('img/bg.jpg');
}
/*a.link{
    position:absolute;
    height: 150px;
    width: 200px;
    display: block;
    z-index: 10;
    background: url('img/logo.png') no-repeat center top;
}
a.link:hover{
    background-position: center -150px;
}*/
.slides{
    z-index:0;
    visibility:hidden;
}
.slides.active{
    visibility:visible;
}